@model IEnumerable<MvcPaging.Models.Designation>

<h2>Designation Information</h2>

@using (Ajax.BeginForm("Designations", "Designations", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "#" }))
{
    @Html.Partial("~/Views/Shared/_Search.cshtml", new Model.Searchcriteria())
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Code", "Designations", new { searchField = "Code", sortOrder = "Code", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Description", "Designations", new { searchField = "Code", sortOrder = "Code", currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
    </tr>
}

</table>

<br />
@Html.Partial("~/Views/Shared/_Paging.cshtml", Model)
